body {
  line-height: 1.6;
  box-sizing: border-box;
  font-family: $subText;
  @include resetSpacing();

  form {
    @include setDimensions(60%, 60%, 0);
    @include flexColumnCenter();
  }

  input {
    @include moldInput(#000, $berry);
    &[type="submit"] {
      height: 35px;
      &:hover {
        cursor: pointer;
      }
    }
    &[type="text"],
    &[type="search"] {
      background-color: #fff;
      font-size: 16px;
    }
  }

  .error {
    color: red;
  }
}

header{
  background-color: #101010;
  background-image: url('../images/wallpaper.jpg');
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  color: #fff;

  h1,
  h2 {
    color: $primary;
    font-family: $superText;
    @include resetSpacing();
    margin: 0 15px;
  }

  h1 {
    font-size: 55px;

  }

  h2 {
    align-self: flex-end;
    font-size: 40px;
  }
}

main {
  background-color: $ruby;
  position: relative;
  figure {
    @include resetSpacing();
    float: right;
    font-size: 25px;
    margin: 0 20%;
    text-shadow: #FC0 1px 0 10px;
  }

  h4 {
    @include resetSpacing();
    color: $berry;
    font-family: $superText;
    font-size: 25px;
    margin: 5px;
  }

  h6 {
    font-size: 25px;
  }
}

.tabs-container {
  width: 100%;
  margin: 0 auto;

  ul.tabs{
    @include resetSpacing();
    list-style: none;
  
    & li{
      background: none;
      color: $primary;
      display: inline-block;
      padding: 10px 15px;
      font-family: $superText;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }
    
      &.active {
        background: $primary;
        color: #000;
      }
    }
  }
  
  .tab-content {
    display: none;
    background: $primary;
    padding: 15px;
    height: 430px;
    text-align: center;

    h3 {
      color: $tertiary;
      font-family: $superText;
      font-size: 22px;
      @include resetSpacing();
    }
  
    &.active {
      display: inherit;
    }
  }
}

.main-grid-container {
  @include gridMainContent();
}

.orders-grid-container {
  @include gridOrdersContent();
}

.customer-grid-container {
  @include gridGuestContent();
}

.rooms-grid-container {
  @include gridRoomsContent();
}